:root {
    /* Colors */
    --font-family: "Spectral";
    --dark-yellow: #F3C986;
    --black: #37352f;

    /* Sizes */
    --site-max-width: 600px;
}

html, body {
    background-color: var(--dark-yellow);
    font-size: 16px;
    font-family: var(--font-family), "serif";
    color: var(--black);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5 {
    font-style: italic;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

p {
    margin-top: .5em;
    margin-bottom: .5em;
}

a {
    text-decoration: underline dotted var(--black);
    text-underline-offset: .2em;
}

a:hover {
    cursor: pointer;
    text-decoration: underline solid var(--black);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.nav__link {
  margin-bottom: 1.5em;
}

.main {
  display: flex;
  justify-content: center;
  flex: 1;
}

.main__content {
  padding: 2em 1em;
  max-width: var(--site-max-width);

  display: flex;
  flex: 1;
  flex-direction: column;
}

.bio {
    display: flex;
    align-items: center;
}

.bio__profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 1em;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 2px 4px;
}

.bio__message {
    display: flex;
    flex-direction: column;
}

.home-section {
    margin-top: 2em;
    margin-bottom: 2em;
}

.footer {
  font-style: italic;
  font-size: .80em;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer__content {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  padding: 1rem;
  max-width: var(--site-max-width);
}
