@import 'variables';

html, body {
  font-family: $sansFontFamily;
  font-size: 16px;
  line-height: 1.4em;
  color: $black;
}

body {
  min-height: 100%;
}

*{ box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: $sansFontFamily;
}

a {
  color: $black;
  text-decoration: none;
  &:not(.container__icon-link) {
    border-bottom: 1px dotted $black;
  }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

.container__main {
  padding: 40px 40px 0px 40px;
  max-width: 700px;
  width: 100%;
}

.container__welcome {
  font-family: $serifFontFamily;
  font-weight: bold;
  font-size: 2.5em;
}

.container__welcome-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2em 0em;

}

.container__welcome-img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.name {
//  background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
//  -webkit-background-clip: text;
//  -webkit-text-fill-color: transparent;
}

.container__section--center {
  display: flex;
  justify-content: center;
}

.container__icon {
  padding: .8em;
}

.container__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  font-family: $sansFontFamily;
  font-size: .8em;
  padding: 10px;
  margin-top: auto;
}

