@import 'variables';

html, body {
  font-family: $sansFontFamily;
  font-size: 16px;
  line-height: 1.4em;
  color: $black;
}

*{ box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: $sansFontFamily;
}

a {
  color: $black;
  text-decoration: none;
  &:not i {
    border-bottom: 1px dotted $black;
  }
}

.container-welcome {
  font-family: $serifFontFamily;
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 40px 0px 40px;
}

.container--name {
//  background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
//  -webkit-background-clip: text;
//  -webkit-text-fill-color: transparent;
}

.container--section {
  max-width: 700px;
  width: 100%;
}

.container--section-center {
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container--icon {
  padding: .8em;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  font-family: $sansFontFamily;
  font-size: .8em;
  padding: 10px;
}

