@import 'variables';
@import url(https://fonts.googleapis.com/css?family=Merriweather:300);

@font-face{
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Book.otf');
  font-weight: $regFontWeight;
}

@font-face{
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.otf');
  font-weight: $boldFontWeight;
}

html, body {
  font-family: $serifFontFamily;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sansFontFamily;
}
