// Colors
$black: rgba(0, 0, 0, 0.87);
$blue: #2b00f7;

// Fonts
$baseFontSize: 17px !default;
$sansFontFamily: 'Avenir', 'Helvetica Neue', sans-serif;
$serifFontFamily: 'Georgia', sans-serif;

// Font Weights
$ltFontWeight: 200;
$regFontWeight: 400;
$boldFontWeight: 600;

// Spacing
$quarter: 5px;
$half: 10px;
$most: 15px;
$full: 20px;
$fullest: 40px;
