// Colors
$black: #404040;
$blue: #2b00f7;

// Fonts
$baseFontSize: 14px !default;
$sansFontFamily: 'Gotham', 'Helvetica Neue', sans-serif;
$serifFontFamily: 'Merriweather', sans-serif;

// Font Weights
$ltFontWeight: 200;
$regFontWeight: 400;
$boldFontWeight: 600;

// Spacing
$quarter: 5px;
$half: 10px;
$most: 15px;
$full: 20px;
$fullest: 40px;
